img {float: right;}
h1 {text-align:center;}
h1, h2 {color: #86af49;}
body {font-family:calibri; font-size: smaller;}
#container{ width: 80%; margin: auto;}
header {background-color: purple;}
footer {background-color: orange;}
/* section {background-color: green;} */
header,footer,section {padding:2em;}
header,footer {background-color: #b5e7a0;}
/* #outcomes, #workload, #assessment, #urls {background-color: #e3eaa7;}
#indicative, #strategies, #assignments, #recommended {background-color: #d5e1df;} */
table, td, th{border: 1px solid black; border-collapse: collapse;}
th, td {padding: 10px;}
.color1 {background-color: #e3eaa7;}
.color2 {background-color: #d5e1df;}
        