body {font-family: Calibri, sans-serif;
border: 3px solid #0C398D;}

main {width: 80%;
margin: auto;
border: 1px solid black;
background-color: #BDD4FF;
padding: 1em 4em;}

nav li {display: inline-block;
margin-right: 3em;
height: 2em;
margin-top: 1em;}

th, td {border: 1px solid black;
padding: 0.25em;
width: 10em;}

#logo {margin-left: 6em;
margin-top: 2em;
flex: 37%;}

table {border: 1px solid black;
width: 25em;
text-align: left;
border-collapse: collapse;}

th {background-color: #0C398D;
color: white;}

tr:hover {background-color: #4D86EF;}

tr {background-color: #7DA6F2;}

nav ul {background-color: #0C398D;
list-style-type: none;}

footer {background-color: #0C398D;
color: white;
text-align: center;}

#column1, #column2 {flex: 50%;}

#results, #logoAndH1 {display: flex;}

h1 {flex: 63%;
margin-top: 2.25em;}

h2 {text-align: center;}

nav a {text-decoration: none;
color: white;}

#myEmail {color: white;}

.cert {display: inline-block;
margin: 1em;}

.cert img {width: 7em;}

.marks {width: 3em;}

table {margin-left: auto;
margin-right: auto;}

#column1 h3, #column2 h3 {text-align: center;}

#ResultsTableFirstRow {text-align: center;}